body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ddd;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1rem;
  }
  
  h1,
  h2,
  h3 {
    font-family: sans-serif;
    line-height: 1.1;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .card {
    display: grid;
    position: relative;
    width: min(100% - 2rem, 380px);
    background-color: #fff;
    overflow: hidden;
    border-radius: 0.8em;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
    transition: 250ms ease-in-out;
    margin: 30px;
  }
  
  .card:is(:hover, :focus) {
    transform: translateY(-5px);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card:focus-visible {
    outline: 2px dashed;
    outline-offset: 0.4em;
  }
  
  .card__img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    aspect-ratio: 16 / 9;
  }
  
  /* image overlay */
  .card__img-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 1;
    transition: 250ms ease-in-out;
  }
  
  .card__tags {
    --_pad: 10px;
    position: absolute;
    inset: var(--_pad) var(--_pad) auto var(--_pad);
  
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 0.25em;
  
    opacity: 0;
    transition: 250ms ease-in-out;
  }
  
  .card__tag {
    display: inline-block;
    padding: 0.1em 0.5em;
    font-size: 14px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(#fff);
    border-radius: 5px;
    z-index: 2;
  }
  
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card__body {
    padding: 1em 1.5em;
  }
  
  .card__title {
    margin: 0;
    font-size: clamp(1.4rem, 4vw, 1.7rem);
    text-transform: capitalize;
    color: #111827;
  }
  
  .card__date {
    font-size: 0.875rem;
    color: #555555;
    padding-top:5px;
  }
  
  .card__cta {
    position: relative;
    width: fit-content;
    margin-top: auto;
    color: #041964;
    padding-top:5px;
  }
  
  /* underline */
  .card__cta::before {
    content: "";
    position: absolute;
    inset: 100% 0 0 0;
    height: 2px;
    background-color: currentColor;
    transition: 250ms ease-in-out;
    transform-origin: right;
  }
  
  /* right arrow */
  .card__cta::after {
    content: " →";
    display: inline-block;
    margin-left: 5px;
    transition: 250ms ease-in-out;
  }
  
  /* image overlay */
  .card:is(:hover, :focus) .card__img-container::before {
    opacity: 1;
  }
  
  /* remove underline */
  .card:is(:hover, :focus) .card__cta::before {
    transform: scale(0);
  }
  
  /* move arrow */
  .card:is(:hover, :focus) .card__cta::after {
    transform: translateX(6px);
  }
  
  /* show tag */
  .card:is(:hover, :focus) .card__tags {
    opacity: 1;
  }
  
  .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .slds-grid.justify-center {
      justify-content: center;
    }